/* Family Inter */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Red+Hat+Display:ital,wght@0,400;0,500;1,300;1,400&family=Roboto:ital,wght@0,100;0,300;1,100&display=swap');

/* Lexzend Deca */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&family=Red+Hat+Display:ital,wght@0,400;0,500;1,300;1,400&display=swap');

:root {
    /* main background */
    --very-dark-blue: hsl(233, 47%, 7%);
    /* card background */
    --dark-desaturated-blue: hsl(244, 38%, 16%);
    /* accent */
    --soft-violet: hsl(277,64%, 61%);
    /* main heading, stasts */
    --white: hsl(0, 0%, 100%);
    /* main paragraph */
    --slightly-transparent-white: hsla(0, 0%, 100%, 0.75);
    /* stat headings */
    --slightly-transparent-white-2: hsla(0, 0%, 100%, 0.6);

}
/* setup */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--very-dark-blue);
    color: var(--white);
    font-family: 'Lexend Deca', sans-serif;
}




/* img */

.hero__img {
    width: 100%;
    min-height: 35vh;
    background-color: var(--soft-violet);
    background-image: url('images/image-header-mobile.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    border-radius: 8px 8px 0 0;
  }


/* card */

.card {
    margin: 1.5rem;
    background: var(--dark-desaturated-blue);
    border-radius: 0 0 8px 8px;
    text-align: center;
}


@media (min-width:768px){
    .card {
        display:flex;
        flex-direction: row-reverse;
        text-align: left;

    }
}

.card__content {
    padding: 2rem 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (min-width:768px){
    .card__content {
        padding: 4rem;
        
    }
}

/* title */

.title > span {
    color: var(--soft-violet);
}

.title {
    font-size: 1.8rem;
    margin-bottom: 0.7em;

}

@media (min-width:768px){
    .title {
        margin-bottom: 1.5em;
        
    }
}

/* parragraph */

.description {
    color: var(--slightly-transparent-white);
    line-height: 1.5rem;
    font-size: 14px;
}

@media (min-width:768px){
    .description {
        margin-bottom: 3rem;
        
    }
}

/* stats */
.stats {
    margin-top: 1em;
}

@media (min-width:768px){
    .stats {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }
}

.stats__content {
    margin-bottom: 0.7em;
    color: var(--slightly-transparent-white-2);
    font-family: "Inter", sans-serif;
}

.stats__content--title {
    font-size: 1.2rem;
    color: var(--white);
}

.stats__content--subtitle {
    font-size: 14px;
    letter-spacing: 1px;
}







